body {
    max-width: 970px;
    margin: 0 auto;
    font-family: 'Yantramanav', sans-serif;
}

blockquote{
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}

header {
    /*background-color: rgb(255, 0, 0);*/
}

nav {
    /*background-color: green;*/
}

nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
   padding: 5px; 
    display: inline;
}

section {
    /*background-color: yellow;*/
}

footer {
    /*background-color: green;*/
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

h2 {
    clear: both;
}

img {
    max-width: 500px;
    width: auto;
    height: auto;
    margin: 5px;
}