p {
    padding: 5px;
}

h1 {
    margin-left: 5px;
}

h2 {
    clear: both;
    margin-left: 5px;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    /*margin: 5px;*/
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    align-items: center;
}

form#subscribe {
    display: flex;
    justify-content:center;
}