p {
    padding: 5px;
}

nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 2px 5px;
    /*display: inline-block;*/
    background-color: gray;
    /*margin: 0 -2px 0 -2px;*/
}

nav ul li a {
    display: block;
    padding: auto;
    /*background-color: gray;*/
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: black;
}

section {
    /*background-color: yellow;*/
}

footer {
    /*background-color: green;*/
}

.float_left {
    /*float: left;*/
}

.float_right {
    /*float: right;*/
}

h1 {
    margin-left: 5px;
}
h2 {
    clear: both;
    margin-left: 5px;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    /*margin: 5px;*/
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    align-items: center;
}
