nav {
    z-index: 100;
}

p {
    padding: 5px;
}

h2 {
    padding-top: 70px;
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.center {
    display: block;
    margin: 0 auto;
}

img {
    max-width: 500px;
    width: auto;
    height: auto;
    margin: 5px;
}


/*This is an attempt to fix position of the menu */

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 970px;
    margin: 0 auto;
}


/*This is fix for fixed position*/

.top {
    margin-top: 84px;
}

.subscribe {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 970px;
    margin: 0 auto;
    background-color: white;
}

footer ul {
    margin-bottom: 0;
}

footer ul li {
    display: inline-block;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-style: solid;
    border: 1px;
}

.references {
    margin-bottom: 60px;
}
