p {
    padding: 5px;
}

h2 {
    padding-top: 20px;
}
nav ul {
    /*text-align: center;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 2px 5px;
    display: inline-block;
    /*display: block;*/
    /*float: left;*/
    background-color: gray;
    margin: 0 -2px 0 -2px;
}

nav ul li a {
    display: block;
    padding: auto;
    /*padding: 8px;*/
    /*background-color: gray;*/
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: black;
}

section {
    /*background-color: yellow;*/
}

footer {
    /*background-color: green;*/
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

h2 {
    clear: both;
}

img {
    max-width: 500px;
    width: auto;
    height: auto;
    margin: 5px;
}


/*This is an attempt to fix position of the menu */

.fixed {
    position: fixed;
    top: 0;
    /*left: 0;*/
    margin: 0 auto;
    background-color: gray;
}

.subscribe {
    position:fixed;
    bottom: 0;
    margin: 0 auto;
    background-color: white;
}

footer ul li {
    display: inline-block;
}

.references {
    margin-bottom: 60px;
}
